@page
@using Microsoft.AspNetCore.Mvc.Localization
@using AbpCMS.Localization
@using AbpCMS.Web.Pages.Companies
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using AbpCMS.Companies;
@using System.Globalization
@inject IHtmlLocalizer<AbpCMSResource> L
@model EditModalModel
@{
    Layout = null;
}
<form data-ajaxForm="true" asp-page="/Companies/EditModal" autocomplete="off">
    <abp-modal>
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
            <abp-input asp-for="Id" />
            
            <abp-input asp-for="Company.Code"/>

            <abp-input asp-for="Company.Name"/>

            <abp-input asp-for="Company.IsActive"/>

                        <abp-select asp-for="Company.CagegoryId" asp-items="Model.CagegoryLookupList" label="@L["Cagegory"].Value"/>

        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>