<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/da94ac12-8eeb-4fae-ba3b-5ac570f7dc51/v3/index.json" />
    </packageSources>
</configuration>